body {
    font-family: Arial, sans-serif;
}

#calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.calendar-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.content {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
        margin: 0 auto;
}

.left-column,
.right-column {
    width: 45%;
}

#rendezvousForm {
    display: flex;
    flex-direction: column;
}

#rendezvousForm label,
#rendezvousForm input,
#rendezvousForm textarea {
    margin: 0.5rem 0;
}

#rendezvousForm button {
    margin: 1rem 0;
}

#formError {
    display: none;
}

#rendezvousList {
    list-style-type: none;
    padding: 0;
}

#rendezvousList li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 8px 12px;
}

/* Calendrier styles */
.month-container table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
        font-size: 1.5rem;
}

.month-container td,
.month-container th {
    border: 1px solid #ccc;
    padding: 10px;
}

.selected-day {
    background-color: purple;
    color: white;
}


/* Separator line */
.calendar-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 1rem 0;
}

.content::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    margin: 1rem 0;
}

/* Rendez-vous formulaire styles */
.rendezvous-form {
    margin: 20px 0;
}

.rendezvous-form label,
.rendezvous-form input,
.rendezvous-form textarea {
    display: block;
    margin: 5px 0;
}

.rendezvous-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

