body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

#rowConge {
    margin-bottom: 274px;
}

#rowClient {
    /*position: sticky;*/
    bottom: 0;
}


.subsection {
    flex-basis: 30%;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subsection h1, .subsection h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form label {
    margin-bottom: 10px;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #009688;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #00796b;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #009688;
    color: white;
}
